@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen&display=swap");
:root {
    --primary-dark: #1b262c;
    --primary-main: #0f4c75;
    --secondary-main: #3282b8;
    --primary-light: #bbe1fa;
    --secondary-light: #f5f5f5;
}
body {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    background-color: var(--primary-dark);
}
.container {
    text-align: center;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.navbar {
    display: flex;
    background-color: var(--primary-main);
    padding: 1rem;
    justify-content: center;
    align-items: baseline;
}
.nav-link {
    flex: 1;
    color: var(--secondary-light);
    text-decoration: none;
    font-size: 1.5rem;
}
.nav-link:hover {
    color: rgb(200, 200, 200);
}
.title {
    flex: 2;
    color: var(--secondary-light);
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
}
.title:hover {
    color: rgb(200, 200, 200);
}
.btn {
    display: inline-block;
    background-color: var(--secondary-main);
    border: none;
    color: var(--secondary-light);
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-size: 1.24rem;
    border-radius: 0.5rem;
    transition: filter 0.3s ease;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
